.content-wrapper {

  .daily-input {
    max-height: 25rem;
    .input-group-text {
      min-width: 12rem;
    }

    .minus {
      margin: 0 5px 0 5px;
      min-width: 40px;
      font-weight: bold;
      border-radius: 100%;
    }
    .plus {
      min-width: 40px;
      font-weight: bold;
      border-radius: 20%;
    }

    .submit-git-input {
      margin: 0 15px 10px 15px;
    }

  }
  .cards{
    .card-header {
      border-bottom: 0px;
    }
    .card-body {
      margin: 0 15px 0 15px;
    }


  }

  .area-graph {
    max-height: 15rem;
    min-height: 5rem;
  }

}

